<%= render "public/header" %>
<div class="container">
  <h3>注文情報確認</h3>

  <table class="table">
    <thread>
      <tr>
        <td>商品名</td>
        <td>単価(税込)</td>
        <td>数量</td>
        <td>小計</td>
      </tr>
    </thread>
    <% @cart_items.each do |cart_item| %>
    <tbody>
      <td><%= cart_item.item.name %></td>
      <td><%= (cart_item.item.price*1.1).floor.to_s(:delimited) %></td>
      <td><%= cart_item.amount %></td>
      <td><%= ((cart_item.amount)*(cart_item.item.price*1.1).floor).to_s(:delimited) %></td>
    </tbody>
    <% end %>
  </table>

  <table border="1" width="200">
    <tr>
      <td>送料</td>
      <td><%= @order.shipping_cost %></td>
    </tr>
    <tr>
      <td>商品合計</td>
      <% sum = 0 %>
      <% @cart_items.each do |cart_item| %>
      <% sum += (cart_item.amount)*(cart_item.item.price*1.1) %>
      <% end %>
      <td><%= sum.floor.to_s(:delimited) %></td>
    </tr>
    <tr>
      <td>請求金額</td>
      <td><%= (@order.shipping_cost + sum).floor.to_s(:delimited) %></td>
    </tr>
  </table>

  <h4>支払方法</h4>
  <%= @order.payment_method %>
  <h4>お届け先</h4>
  <%= @order.address %>

  <%= link_to "注文を確定する", orders_path, method: :post, class:"btn btn-success" %>

</div>