<%= render "public/header" %>

<div class = "container">
  <div class= "row">
    <div class="col-lg-4">
      <%= attachment_image_tag @item, :image, size: "350x250", format: 'jpeg', fallback: "no_image.jpg" %>
    </div>

    <div class="col-lg-8">
      <h3><strong><%= @item.name %></strong></h3>
      <p><%= @item.introduction %></p>
      <p><%= @item.price*1.1.floor%>円<span style="font-size:12px">(税込)</span></p>

      <div>
        <%= form_with model: @cart_item, url: cart_items_path, local:true do |f| %>
          <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10], prompt:"個数選択してください" %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.submit "カートに入れる", class:"btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>

</div>